<h4>Dropdown 1</h4>
<div dropdown id="dropdown-demo" class="ng-dropdown"
     dropdown-menu="dropdown-demo-menu"
     dropdown-open-class="open"
     dropdown-active-class="active"
     dropdown-option-class="option">
  <div class="ng-dropdown-field">
    <div class="ng-dropdown-value" ng-bind="selected.one"></div>
  </div>
  <div id="dropdown-demo-menu" class="ng-dropdown-menu">
    <div ng-repeat="option in options"
         ng-bind="option"
         ng-click="selected.one = option"
         class="option"></div>
  </div>
</div>
<br>
<h4>Dropdown 2</h4>
<div dropdown id="dropdown-demo-two" class="ng-dropdown" dropdown-menu="dropdown-demo-menu-two">
  <div class="ng-dropdown-field">
    <div class="ng-dropdown-value" ng-if="selected.two" ng-bind="selected.two"></div>
    <div class="ng-dropdown-value placeholder" ng-if="!selected.two">Select a song</div>
  </div>
  <div id="dropdown-demo-menu-two" class="ng-dropdown-menu">
    <div ng-repeat="option in optionsTwo"
         ng-bind="option"
         ng-click="selected.two = option"
         class="option"></div>
  </div>
</div>
<br>
<h4>Dropdown 3: Disabled if the first option of Dropdown 1 is selected</h4>
<div dropdown
     dropdown-disabled="selected.one === options[0]"
     dropdown-menu="dropdown-demo-menu-three"
     id="dropdown-demo-three"
     class="ng-dropdown">
  <div class="ng-dropdown-field">
    <div class="ng-dropdown-value" ng-if="selected.three && selected.one !== options[0]" ng-bind="selected.three"></div>
    <div class="ng-dropdown-value placeholder" ng-if="!selected.three && selected.one === options[0]">Disabled</div>
    <div class="ng-dropdown-value placeholder" ng-if="!selected.three && selected.one !== options[0]">Select</div>
  </div>
  <div id="dropdown-demo-menu-three" class="ng-dropdown-menu">
    <div ng-repeat="option in optionsThree"
         ng-bind="option"
         ng-click="selected.three = option"
         class="option"></div>
  </div>
</div>